.selectorContainer {
  font-size: 14px;
  position: relative;
}

.selectorInput {
  border: 1px solid #ccc;
  padding: 8px;
  border-radius: 0.5rem;
  cursor: pointer;
  background-color: var(--bg-input-off-white);
}

.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  border: 1px solid #ccc;
  background: white;
  z-index: 10;
  border-radius: 0.5rem;
  margin-top: 4px;
}

.dropdownHeader {
  display: flex;
  justify-content: flex-end;
  padding: 4px;
}

.closeBtn {
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
  color: #777;
}

.dropdownList {
  max-height: 150px;
  overflow-y: auto;
}

.dropdownItem {
  padding: 6px 10px;
  cursor: pointer;
}

.dropdownItem:hover {
  background-color: #f0f0f0;
}

.searchInput {
  width: 95%;
  margin: 0 auto 8px auto;
  display: block;
  padding: 6px 8px;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  font-size: 14px;
  background-color: var(--bg-input-off-white);
}
