.selectorContainer {
  font-size: 14px;
  position: relative;
}

.selectorInput {
  border: 1px solid #ccc;
  padding: 8px;
  border-radius: 0.5rem;
  cursor: pointer;
  background-color: var(--input-background-color);
  border-radius: var(--input-border-radius);
  padding: var(--input-padding);
  color: var(--input-text-color);
}

.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  border: 1px solid #ccc;
  background-color: var(--input-background-color);
  z-index: 10;
  border-radius: var(--input-border-radius);
  margin-top: 4px;
}

.dropdownHeader {
  display: flex;
  justify-content: flex-end;
  padding: 4px;
}

.closeBtn {
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
  color: #777;
}

.dropdownList {
  max-height: 150px;
  overflow-y: auto;
  background-color: var(--input-background-color);
  border-radius: var(--input-border-radius);
  padding: var(--input-padding);
  color: var(--input-text-color);
}

.dropdownItem {
  padding: 6px 10px;
  cursor: pointer;
}

.dropdownItem:hover {
  background-color: #f0f0f0;
}

.searchInput {
  width: 95%;
  margin: 0 auto 8px auto;
  display: block;
  border: 1px solid var(--border-dark);
  font-size: 14px;
  background-color: var(--input-background-color);
  border-radius: var(--input-border-radius);
  padding: var(--input-padding);
  color: var(--input-text-color);
}
