.divMain {
  padding: 0.25rem;
  margin: 0;
}
.divEmailAndPassword {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
}
.divInputGroup {
  display: flex;
  flex-direction: column;
  gap: var(--input-padding);
}

.inputEmail {
  border: none;
  background-color: var(--input-background-color);
  border-radius: var(--input-border-radius);
  padding: var(--input-padding);
  color: var(--input-text-color);
}
